/*---------------- body ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 80pt;
}


h2 {
    font-family: 'Space Mono', monospace;
    font-size: 30pt;
    font-weight: 400;
}


body {
    font-family: 'Space Mono', monospace;
    font-size: 15pt;
    font-weight: 400;
}


/*---------------- links ---------------*/
a { 
  color: #D1ABFF;
}

a:hover {
 color: #FF6ADF; /* darker color when hovering */
}


/*----------------NAVBAR ---------------*/
.navbar-default {
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12pt;
    border:1px solid #FFFFFF;}
    
    
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.active>a, 
a.dropdown-toggle:hover {
  background-color: #FFFFFF !important;}


/* Navbar title*/
.navbar-default .navbar-brand {
    color: #000000;
}


/* Navbar links*/
.navbar-default .navbar-nav > li > a {
    color: #D1ABFF;}


/* Navbar links when hovered*/
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav:hover, 
.navbar-default .navbar-nav>li>a:hover, 
a.navbar-brand:hover {
  color: #FF6ADF !important;
  background-color: #FFFFFF;}

